<div class="row">
    <!-- Botón para hacer las altas -->
    <button type="button" class="btn btn-primary col-md-2 text-white mb-1" routerLink="../agregar">
        <i class="bi bi-plus-lg text-white"></i>Crear
    </button>                                
</div> 

<!-- Aquí está la tabla donde se van a insetar los resultados -->
<app-tabla [recetas]="recetas" (verReceta)="IrVer($event)" (editarReceta)="IrEditar($event)" (borrarReceta)="borrarReceta($event)"></app-tabla>


<p style="text-align:center;">Pagina {{ paginaActual }}</p>
<app-paginador [paginaActual]="paginaActual" (onPaginaCambiada)="cambiarPagina($event)"></app-paginador>    