
<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-dark text-light">
        <h5 class="modal-title" id="exampleModalLabel">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="cerrarModal.emit()">Cerrar</button>
      </div>
      <div class="modal-body">
        <form [formGroup]="peliculaForm" (ngSubmit)="guardar()">
          <div class="mb-3">
            <label for="titulo" class="form-label">Título</label>
            <input formControlName="titulo" id="titulo" class="form-control" type="text" />
          </div>
          <div class="mb-3">
            <label for="genero" class="form-label">Género</label>
            <input formControlName="genero" id="genero" class="form-control" type="text" />
          </div>
          <div class="mb-3">
            <label for="duracion">Duración</label>
            <input id="duracion" formControlName="duracion" type="number" />
            <div class="text-danger" *ngIf="formGuardado && peliculaForm.get('duracion')?.hasError('duracionInvalida')">
              La duración debe ser mayor o igual a 1.
            </div>
          </div>
          <div class="mb-3">
              <label for="fecha_de_lanzamiento">Fecha de Lanzamiento</label>
              <input id="fecha_de_lanzamiento" type="date" formControlName="fecha_de_lanzamiento" />
              <div class="text-danger" *ngIf="peliculaForm.get('fecha_de_lanzamiento')?.hasError('fechaFutura')">
                La fecha no puede ser en el futuro.
              </div>
          </div>            
          <button type="submit" class="btn btn-primary">Guardar</button>
        </form>
      </div>
    </div>
  </div>

  